<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
Private:
Templates:
List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">

	<div class="frame-container">
		<div class="frame-inner">
			<div class="card card-panel card-panel-info">
				<h1 class="card-header">
					<span>Nos spécialités</span>
				</h1>
				<div class="card-body">
					<p>Au restaurant AM VL, nous sommes spécialisés dans la restauration de qualité.
						Nos produits frais sont cuisinés par notre chef triplement étoilé.
						Le goût est au coeur de nos recettes. Nous vous proposons tous les jours un plat, choisi par le chef
						qui ne cessera de vous étonner grâce au mélange de saveurs.
					</p>
				</div>
			</div>
		</div>
	</div>

	<br><h1 class="text-info">La carte</h1><br>

	<div class="card-menu card-menu card-menu-align-left card-menu-columns-3">
		<f:for each="{dishes}" as="dish">
			<div class="card-menu-item">
				<div class="card">
					<div class="card-img-top">
						<f:image image="{dish.photo}" width="200" height="220" treatIdAsReference="1" />
					</div>
					<div class="card-body">
						<h3 class="card-title">
							<f:link.action action="show" arguments="{dish : dish}"> {dish.name}</f:link.action>
						</h3>
						<h3 class="card-subtitle">
							{dish.price}€
						</h3>
						<p class="card-text">
							{dish.description -> f:format.html(parseFuncTSPath: 'lib.parseFunc')}
						</p>
					</div>
					<div class="card-footer">
						<f:link.action action="show" arguments="{dish : dish}">Plus de détails</f:link.action>
					</div>
				</div>
			</div>
		</f:for>
	</div><br>

	<f:widget.paginate objects="{dishes}" as="paginatedDishes" configuration="{itemsPerPage: 2}">
	</f:widget.paginate>



	
	<f:link.action action="new" class="btn btn-info" style="border-radius: 3px;">
		<f:image src="EXT:restaurant_am_vl/Resources/Public/Icons/add.png" alt="alt text" />
		New Dish
	</f:link.action>
</f:section>

</html>