<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
Private:
Templates:
List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
	<h1 class="text-info">Nos boissons</h1><br>

	<div class="frame-container">
		<div class="frame-inner">
			<f:for each="{drinks}" as="drink">
				<div class="card card-panel card-panel-info">
					<h1 class="card-header ">
						<span>{drink.name}</span>
					</h1>
					<div class="card-body">
						<p>
							{drink.description -> f:format.html(parseFuncTSPath: 'lib.parseFunc')} 

							<strong>Volume : </strong>{drink.volume}<br>
							<strong>Prix : </strong>{drink.price}€<br>
							<strong>Boisson alcoolisée : </strong>
							<f:if then="Oui" else="Non" condition="{drink.alcoholized} == 1"/><br><br>

							<f:link.action class="btn btn-warning disabled" style="border-radius: 3px;" action="edit">Editer</f:link.action>&nbsp;
							<f:link.action class="btn btn-danger disabled" style="border-radius: 3px;" action="delete">Supprimer</f:link.action>
						</p>
					</div>
				</div><br>
			</f:for>
		</div>
	</div>

	<f:link.action action="new" class="btn btn-info disabled" style="border-radius: 3px;">
		<f:image src="EXT:restaurant_am_vl/Resources/Public/Icons/add.png" alt="alt text" />
		Ajouter une boisson
	</f:link.action>
	
</f:section>

</html>