<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:layout name="Default" />

    <f:section name="content">
        <h2>Les suggestions à venir</h2>
        <f:for each="{suggestions}" as="suggestion">
            A venir au {suggestion.start -> f:format.date()}
            <ul>
                <f:for each="{suggestion.dishes}" as="dish">
                    {dish.name}
                </f:for>
            </ul>
        </f:for>
    </f:section>
</html>