<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
Private:
Templates:
List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
	<h1 class="text-info">Nos menus</h1><br>

	<div class="card-menu card-menu card-menu-align-left card-menu-columns-2">
		<f:for each="{menus}" as="menu">
			<div class="card-menu-item">
				<div class="card">
					<div class="card-body">
						<h3 class="card-title">
							<f:link.action action="show" arguments="{menu : menu}">{menu.name}
								<f:if then="(jusqu'à 12 ans)" condition="{menu.name} == 'Menu enfant' "></f:if>
								<f:if then="(pour étudiants)" condition="{menu.name} == 'Formule rapide' "></f:if>
							</f:link.action>
						</h3>
						<h4 class="card-subtitle">
							<f:if then="Disponible" else="Indisponible" condition="{menu.available} == 1"></f:if>
						</h4>
						<p class="card-text">
							{menu.description -> f:format.html(parseFuncTSPath: 'lib.parseFunc')}
						</p>
					</div>
					<div class="card-footer">
						<f:link.action action="show" arguments="{menu : menu}" class="btn btn-info">Plus de détails</f:link.action>
					</div>
				</div>
			</div>
		</f:for>
	</div><br>

	<f:link.action action="new" class="btn btn-info disabled" style="border-radius: 3px;">
		<f:image src="EXT:restaurant_am_vl/Resources/Public/Icons/add.png" alt="alt text" />
		Ajouter un menu
	</f:link.action>

</f:section>

</html>