<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
Private:
Templates:
Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
	<h1 class="text-info">Consultation du menu</h1><br>

	<f:link.action class="btn btn-info" style="border-radius: 3px;" action="list"><  Retour à la liste des menus</f:link.action><br><br>

	<div id="c563"
		class="frame frame-default frame-type-text frame-layout-0 frame-background-dark frame-has-backgroundimage frame-space-before-none frame-space-after-none">
		<div class="frame-backgroundimage-container">
			<div class="frame-backgroundimage frame-backgroundimage-fade">
				<f:image src="EXT:restaurant_am_vl/Resources/Public/Icons/repasgastro.jpeg" alt="alt text" />
			</div>
		</div>
		<div class="frame-container">
			<div class="frame-inner">
				<header class="frame-header">
					<h2 class="element-header "><span>{menu.name} - {menu.price} euros - 
						<f:if condition="{menu.discount} == 0">
									<f:then>
										<span class="text-danger">Pas de réduction</span>
									</f:then>
									<f:else>
										<span class="text-primary">Réduction de {menu.discount}€ possible</span>
									</f:else>
								</f:if>
					</span></h2>
				</header>
				<p>{menu.description -> f:format.html(parseFuncTSPath: 'lib.parseFunc')}</p>
				<p>Ce menu est 
					<f:if then="disponible le" else="indisponible" condition="{menu.available} == 1"></f:if>
					<f:if condition="{menu.service} == 1 && {menu.available} == 1">
						<f:then>
							Midi
						</f:then>
						<f:else if="{menu.service} == 2 && {menu.available} == 1">
							Soir
						</f:else>
						<f:else if="{menu.service} == 3 && {menu.available} == 1">
							Midi et soir
						</f:else>
					</f:if>
				</p>
			</div>
		</div>
	</div><br>

	<f:link.action action="new" class="btn btn-info disabled" style="border-radius: 3px;">
		<f:image src="EXT:restaurant_am_vl/Resources/Public/Icons/add.png" alt="alt text" />
		Ajouter un menu
	</f:link.action>

</f:section>

</html>